@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  box-shadow: 6px -5px 20px #0d0d0d;
  width: 27%;
  height: 500px;
  border-radius: 20px;
}

.number {
  font-size: 150px;
  align-self: center;
}

.heart2 {
  transform: rotate(180deg);
  font-size: 70px;
}

.heart1 {
  font-size: 70px;
}
